 
html, body {
}
#wrapper {
   position: absolute;
   height: 100%; 
   width: 100%;
   min-height: 500px; 
   min-width: 1280px;
}
body {
	margin: 0em;
	padding: 0em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #877850;
}

body, #skel-panels-pageWrapper {
	background: #FFF2CF url(images/img01.png) repeat;
}

h1, h2, h3 {
	margin: 0em;
	padding: 0em;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #887644;
}

h2 {
	font-size: 1.75em;
}

p {
	line-height: 170%;
}

a {
	color: #706443;
}

strong {
	font-weight: 700;
	color: #675830;
}

/* Button Style */

.button-style1 a {
	display: block;
	padding: 1em 0em 1em 1em;
	background: #000000 url(images/img03.jpg) no-repeat right 50%;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	font-weight: 200;
	color: #FFFFFF;
}


.button-style2 a {
	display: inline-block;
	height: 2.60em;
	margin-top: 1.25em;
	padding: 0em 1.25em 0em 1.25em;
	background: #766946;
	border-radius: 5px;
	line-height: 2.60em;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	font-size: 0.90em;
	color: #FFFFFF;
}

ul { 
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul.drop-down-menu {
        display: inline-block;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
    }

    ul.drop-down-menu li {
        position: relative;
        white-space: nowrap;
    }

    ul.drop-down-menu > li:last-child {
        border-right: none;
    }

    ul.drop-down-menu > li {
        float: left; /* 只有第一層是靠左對齊*/
    }
/* 主目錄 */
.link--index {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 9em;
	color: #3A4945;
	padding: 0 0 0.125em;
}

.link--index::before,
.link--index::after {
	content: '';
	width: 100%;
	height: 3px;
	z-index: -1;
	background: #3A4945;
	position: absolute;
	-webkit-transform: scale3d(0,1,1);
	transform: scale3d(0,1,1);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--index::before {
	right: 0;
	top: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.link--index::after {
	left: 0;
	bottom: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.link--index:hover::before,
.link--index:hover::after {
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.link--index span {
	position: relative;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link--index:hover span {
	color: transparent;
}

.link--index span::before,
.link--index span::after {
	position: absolute;
	color: #000;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.link--index span::before {
	content: attr(data-letters-l);
	left: 0;
	-webkit-transform: translate3d(-5px,0,0);
	transform: translate3d(-5px,0,0);
}

.link--index span::after {
	content: attr(data-letters-r);
	right: 0;
	-webkit-transform: translate3d(5px,0,0);
	transform: translate3d(5px,0,0);
}

.link--index:hover span::before,
.link--index:hover span::after {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

ul.drop-down-menu ul {
        display: none;
    }
 ul.drop-down-menu li:hover > ul { /* 滑鼠滑入展開次選單*/
        display: block;
	    float: left;
	    position: absolute;
	    left: 0;  
	    top: 50px;  
	    margin: 0
    }
    ul.drop-down-menu ul li {
        border-bottom: #ccc 1px solid;
        margin: 0;
		padding: 0;
    }

    ul.drop-down-menu ul li:last-child {
        border-bottom: none;
    }

    ul.drop-down-menu ul ul { /*第二層選單出現位置*/
        z-index: 999;
        top: 40px;
        left: 90%;
    }
 /*次目錄 */
.link--secindex {
	font-family: 'Syncopate', sans-serif;
	font-size: 6.5em;
	overflow: hidden;
	padding: 10px 10px 0;
	line-height: 1;
	color: #242424;
}

.link--secindex:hover {
	color: #242424;
}

.link--secindex::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background: #242424;
	-webkit-transform: translate3d(101%,0,0);
	transform: translate3d(101%,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--secindex:hover::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.link--secindex span {
	display: block;
	position: relative;
}

.link--secindex span::before {
	content: attr(data-letters);
	position: absolute;
	color: #fff;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--secindex:hover span::before {
	width: 100%;
}   
    	
   
.balloon {
	padding: 1.87em;
	background: url(images/img08.jpg) repeat left top;
	border-radius: 5px;
	line-height: 180%;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	font-style: italic;
}

.ballon-bgbtm {
	height: 1.87em;
	background: url(images/img09.png) no-repeat right top;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
	
	#copyright
	{
		position: relative;
		padding: 3em 0em;
		text-align: center;
		color: #877850;
		background: #62573b;
	}
	
	#copyright .container
	{
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #877850;
	}
