 
html, body {
	
}
#wrapper {
   position: absolute;
   height: 100%; 
   width: 100%;
   min-height: 500px; 
   min-width: 1280px;
}
/* Logo */
#logo {
	position: absolute;
	top: 40px;
	left: 0;
}

#logo h1
{
	float: left;
}

#logo h1 a {
	padding: 10px 10px 0px 0px;
	text-decoration: none;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	font-weight: 200;
	color: #1C1C1C;
}

#logo span {
	float: left;
	padding: 10px 0em 0em 0em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	font-style: italic;
	color: #545454;
}
/* Menu */
#nav {
	position: absolute;
	top: 40px;
	right: 0;
}

#nav ul {
	float: right;
	text-align: center;
}

#nav li {
	display: inline-block;
}

#nav a {
	display: block;
	float: left;
	margin-right: 0;
	padding: 10px 30px;
	text-decoration: none;
	text-transform: none;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	color: #2C2C2C;
}

#nav .current_page_item {
	color: #2C2C2C;
}

#nav .current_page_item a {
	background: #212121;
	color: #FFFFFF;
	box-shadow: inset 0px -15px 10px 0px rgba(0,0,0,0.25);
	text-shadow: none;
}
body {
	margin: 0em;
	padding: 0em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #877850;
}

body, #skel-panels-pageWrapper {
	background: #FFF2CF url(images/img01.png) repeat;
}

h1, h3 {
	margin: 0em;
	padding: 0em;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #887644;
}

p {
	line-height: 170%;
}

a {
	color: #706443;
}

strong {
	font-weight: 700;
	color: #675830;
}


	ul { 
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul.drop-down-menu {
        display: inline-block;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
    }

    ul.drop-down-menu li {
        position: relative;
        white-space: nowrap;
    }

    ul.drop-down-menu > li:last-child {
        border-bottom: none;
    }

    ul.drop-down-menu > li {
        float: left; /* 只有第一層是靠左對齊*/
    }
/*     banner頁 */
slide-container{
	margin:0;
	padding:0;
	list-style: none;
}
    .slide-container {
	width:1280px;
	height:580px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	background:#FFF;
	border:10px #CCC solid;
	-moz-box-shadow:2px 4px 4px #9f9f9f;
	-webkit-box-shadow:2px 4px 4px #9f9f9f;
	box-shadow:2px 4px 4px #9f9f9f;
}
.slide-content {
	position:absolute;
	height:390px;
	left:0;
	top:0;
}
.slide-content li {
	width:1280px;
	height:580px;
	float:left;
}
.slide-items {
	position:absolute;
	z-index:3;
	width:99px;
	height:28px;
	right:11px;
	bottom:11px;
}
.slide-items li {
	float:left;
	display:inline;
	margin:7px 2px 0 12px;
	width:14px;
	height:14px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	background:#CCC;
	text-indent:-999px;
	overflow:hidden;
	cursor:pointer;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.slide-items li.current-slide-item {
	background:#FFF;
	-moz-box-shadow:0 0 4px #FFF;
	-webkit-box-shadow:0 0 4px #FFF;
	box-shadow:0 0 4px #FFF;
	opacity:1;
	filter:alpha(opacity=100);
}
/* 主目錄 */
.link--index {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 20px;
	color: #3A4945;
	padding: 0 0 0.125em;
}

.link--index::before,
.link--index::after {
	content: '';
	width: 100%;
	height: 3px;
	z-index: -1;
	background: #3A4945;
	position: absolute;
	-webkit-transform: scale3d(0,1,1);
	transform: scale3d(0,1,1);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--index::before {
	right: 0;
	top: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.link--index::after {
	left: 0;
	bottom: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.link--index:hover::before,
.link--index:hover::after {
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.link--index span {
	position: relative;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link--index:hover span {
	color: transparent;
}

.link--index span::before,
.link--index span::after {
	position: absolute;
	color: #000;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.link--index span::before {
	content: attr(data-letters-l);
	left: 0;
	-webkit-transform: translate3d(-5px,0,0);
	transform: translate3d(-5px,0,0);
}

.link--index span::after {
	content: attr(data-letters-r);
	right: 0;
	-webkit-transform: translate3d(5px,0,0);
	transform: translate3d(5px,0,0);
}

.link--index:hover span::before,
.link--index:hover span::after {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

 ul.drop-down-menu ul {
        position: absolute;
        z-index: 99;
        left: -1px;
        top: 100%;
        min-width: 100px;
        display: none;
    }
    ul.drop-down-menu li:hover > ul { /* 滑鼠滑入展開次選單*/
    	opacity: 1;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        left: -1px;
        border-right: 5px;
        display: block;
    }

    ul.drop-down-menu ul li:last-child {
        border-bottom: none;
    }

    ul.drop-down-menu ul ul { /*第三層以後的選單出現位置與第二層不同*/
        z-index: 999;
        top: 10px;
        left: 90%;
    }
     ul.drop-down-menu li:hover>ul ul { /* 滑鼠滑入之後、次選單之後的選單依舊隱藏*/
        left: 99999px;
    }

    ul.drop-down-menu ul li:hover > ul { /* 第二層之後的選單展開位置*/
        left: 90%;
    }

/*  次目錄 */
.link--secindex {
	background: #dadada;
}

.link--secindex:hover {
	background: #414141;
}


.link--secindex:hover::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.link--secindex span {
	display: block;
	position: relative;
}

.link--secindex span::before {
	content: attr(data-letters);
	position: absolute;
	color: #fff;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}

.link--secindex:hover span::before {
	width: 100%;
}   
/* 最新消息  	 */
   ul.newstyle {
	font-family: 'Oswald', sans-serif;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.newstyle li {
	padding: 15px 0px 15px 0px;
	border-bottom: 1px solid #E6E6E6;
}
a.desc {
	font-size: 22px;
}

ul.newstyle li:last-child {
	border-bottom: 0;
}

ul.newstyle a {
	display: block;
	padding: 0px 0px 0px 30px;
	text-decoration: none;
	color: #525252;
}

ul.newstyle a:hover {
	text-decoration: underline;
}
h2 {
	margin: 0;
	padding: 0;
	font-family: 'Oswald','Microsoft JhengHei', sans-serif;
	font-size:22px;
	color: #887644;
}
#news {
	width:1280px;
	height:580px;
	top:50px;
	margin:0 auto;
	position:relative;
}
#news h2 {
	height: 50px;
	width: 250px;
	background: #c0c0c0;
	margin-bottom: 20px;
	padding: 15px 0px 0px 20px;
	color: #3b3b3b;
	border-style:groove;
	border-bottom-style:solid;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom-color:#888888;
	border-top-left-radius: 10px;
	border-top-right-radius: 150px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 10px;
}
.balloon {
	padding: 1.87em;
	background: url(images/img08.jpg) repeat left top;
	border-radius: 5px;
	line-height: 180%;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	font-style: italic;
}

.ballon-bgbtm {
	height: 1.87em;
	background: url(images/img09.png) no-repeat right top;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
	
	#copyright
	{
		position: relative;
		padding: 3em 0em;
		text-align: center;
		color: #877850;
		background: #62573b;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #877850;
	}

	