/* 區塊 */
.block {
	width:320px;
	height:140px;
	margin:0 auto;
	position:relative;
  	display: block;
  	justify-content: space-between;
 	padding: 80px 0px 100px 0px;
}
.block .card {
  margin: 20px;
  padding: 100px 0px 110px 0px;
}
.block .card .card-img-top {
  position: relative;
  z-index: 2;
  width: 290px;
  height: 200px;
  transform: translateY(52%);
  transition: 0.5s;
}
.block .card .card-body {
  z-index: 1;
  height: 190px;
  transform: translateY(-70%);
  transition: 0.5s;
}
.block .card .card-body .card-title {
  margin: 0px 0px 30px 0px;
  font-size: 20pt;
  font-weight: bold;
  line-height: 1.2;
}
.block .card .card-body .btn {
  padding:5px 10px;
  color: black;
  text-decoration: none;
  line-height: 1.5;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.5s;
  float: right;
}
.block .card .card-body .btn:hover {
  color: white;
  background: black;
}
.block .card:hover .card-img-top {
  transform: translateY(1%);
}
.block .card:hover .card-body {
  transform: translateY(0);
}
