#contact {
	width:1280px;
	height:580px;
	top:50px;
	margin:0 auto;
	position:relative;
}

#detail {
	float: left;
	width:400px;
	height:580px;
	font-size:18px;
	color: #3b3b3b;
	background: white;
}

#contact h2 {
	font-size:20px;
	height: 50px;
	width: 150px;
	background: #c0c0c0;
	margin-bottom: 20px;
	padding: 15px 0px 0px 20px;
	color: #3b3b3b;
	border-top-left-radius: 10px;
	border-top-right-radius: 150px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 10px;
}

#content {
    display: flex;
    justify-content: space-between;
}