#contact {
	width:1280px;
	height:730px;
	top:50px;
	margin:0 auto;
	position:relative;
}

#contact h2 {
	font-size:20px;
	height: 50px;
	width: 150px;
	background: #c0c0c0;
	margin-bottom: 20px;
	padding: 15px 0px 0px 20px;
	color: #3b3b3b;
	border-top-left-radius: 10px;
	border-top-right-radius: 150px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 10px;
}

.box{
	margin-top: 80px;
    width: 1280px;
    height: 730px;
    font-size: 0;
}

#detail{
    border-radius: 75%;
}
	
.box>#detail{
    display: inline-block;
    font-size: 16px;
    width:18%;
    height: 230.4px;
    background: white;  
}

.box>#detail:nth-child(n+2){
    margin-left:2.5%;
}

#image {
	display: flex;
	width:95px;
	height:150px;
	margin: 45px 100px 0px 10px;
}

#sns {
	width:70px;
	height:70px;
/* 	padding: 20px; */
	margin:20px 15px 0px 10px;
}

#word {
	white-space:nowrap;
	width:20px;
	height:20px;
	margin:5px 15px 0px 15px;
}

#qr {
	width:105px;
	height:105px;
	margin:20px 0px 0px 0px;
}
