/* 頁尾 */
#footer {
	text-align: center;
	width:680px;
	height:150px;
	top:200px;
	bottom:50px;
	margin:0 auto;
	position:relative;
}
#sns {
	width:70px;
	height:70px;
}
#footer li{
	display: inline-table;
	margin: 0 auto;
}
.icon-list {
  display: flex;
  list-style-type: none;
}
.icon-list .icon-list__item {
  margin: 0 40px;
}
.icon-list .icon-list__item a .box {
  --box-width: 80px;
  --box-height: 80px;
  --box-depth: 20px;
  width: var(--box-width);
  height: var(--box-height);
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(55deg) rotateZ(45deg);
  transition: 0.5s;
}
.icon-list .icon-list__item a .box .box__face {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.icon-list .icon-list__item a .box .box__face--front,
.icon-list .icon-list__item a .box .box__face--back {
  width: var(--box-width);
  height: var(--box-height);
  line-height: var(--box-height);
}
.icon-list .icon-list__item a .box .box__face--right,
.icon-list .icon-list__item a .box .box__face--left {
  width: var(--box-depth);
  height: var(--box-height);
  left: calc((var(--box-width) - var(--box-depth)) / 2);
  line-height: var(--box-height);
}
.icon-list .icon-list__item a .box .box__face--top,
.icon-list .icon-list__item a .box .box__face--bottom {
  width: var(--box-width);
  height: var(--box-depth);
  top: calc((var(--box-height) - var(--box-depth)) / 2);
  line-height: var(--box-depth);
}
.icon-list .icon-list__item a .box .box__face--front {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  transition: 0.5s;
}
.icon-list .icon-list__item a .box .box__face--front svg {
  transform: rotate(270deg);
}
.icon-list .icon-list__item a .box .box__face--front svg path {
  transition: 0.5s;
}
.icon-list .icon-list__item a .box .box__face--right {
  background: #e6e6e6;
  transition: 0.5s;
}
.icon-list .icon-list__item a .box .box__face--bottom {
  background: #b3b3b3;
  transition: 0.5s;
}
.icon-list .icon-list__item a .box .box__face--back {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.icon-list .icon-list__item a .box .box__face--front {
  transform: rotateY(0deg) translateZ(calc(var(--box-depth) / 2));
}
.icon-list .icon-list__item a .box .box__face--back {
  transform: rotateY(180deg) translateZ(calc(var(--box-depth) / 2));
}
.icon-list .icon-list__item a .box .box__face--right {
  transform: rotateY(90deg) translateZ(calc(var(--box-width) / 2));
}
.icon-list .icon-list__item a .box .box__face--left {
  transform: rotateY(-90deg) translateZ(calc(var(--box-width) / 2));
}
.icon-list .icon-list__item a .box .box__face--top {
  transform: rotateX(90deg) translateZ(calc(var(--box-height) / 2));
}
.icon-list .icon-list__item a .box .box__face--bottom {
  transform: rotateX(-90deg) translateZ(calc(var(--box-height) / 2));
}
.icon-list .icon-list__item:hover:nth-child(1) a .box {
  transform: rotateX(55deg) rotateZ(45deg) translateZ(20px);
}
.icon-list .icon-list__item:hover:nth-child(1) a .box .box__face--back {
  box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.5);
}
.icon-list .icon-list__item:hover:nth-child(1) a .box__face--front {
  background: #1d58e2;
}
.icon-list .icon-list__item:hover:nth-child(1) a .box__face--front svg path {
  fill: white;
}
.icon-list .icon-list__item:hover:nth-child(1) a .box__face--right {
  background: #1d57b8;
}
.icon-list .icon-list__item:hover:nth-child(1) a .box__face--bottom {
  background: #16478f;
}
.icon-list .icon-list__item:hover:nth-child(2) a .box {
  transform: rotateX(55deg) rotateZ(45deg) translateZ(20px);
}
.icon-list .icon-list__item:hover:nth-child(2) a .box .box__face--back {
  box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.5);
}
.icon-list .icon-list__item:hover:nth-child(2) a .box__face--front {
  background: #ff00ff;
}
.icon-list .icon-list__item:hover:nth-child(2) a .box__face--front svg path {
  fill: white;
}
.icon-list .icon-list__item:hover:nth-child(2) a .box__face--right {
  background: #ff33ff;
}
.icon-list .icon-list__item:hover:nth-child(2) a .box__face--bottom {
  background: #d000d0;
}
.icon-list .icon-list__item:hover:nth-child(3) a .box {
  transform: rotateX(55deg) rotateZ(45deg) translateZ(20px);
}
.icon-list .icon-list__item:hover:nth-child(3) a .box .box__face--back {
  box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.5);
}
.icon-list .icon-list__item:hover:nth-child(3) a .box__face--front {
  background: #408080;
}
.icon-list .icon-list__item:hover:nth-child(3) a .box__face--front svg path {
  fill: white;
}
.icon-list .icon-list__item:hover:nth-child(3) a .box__face--right {
  background: #42838a;
}
.icon-list .icon-list__item:hover:nth-child(3) a .box__face--bottom {
  background: #346767;
}

